<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @user_profile.age %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user_profile.location %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @user_profile.mobile_number %>
</p>

<p>
  <strong>User tag:</strong>
  <%= @user_profile.user_tag %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user_id %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
